.modal-header {
  border-bottom: none;
  padding-top: 2rem;
  .close {
    padding: 1rem 2rem;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    font-size: 3rem;
    line-height: 0.8;
  }
}

.modal-body {
  padding: 1rem 3rem;
}
