@font-face {
  font-family: 'effra';
  src: url('../../assets/fonts/effra_std_rg-webfont.woff2') format('woff2'),
    url('../../assets/fonts/effra_std_rg-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
